{% extends "base.html" %}

{% block title %}Employees{% endblock %}

{% block body %}

    <div class="main">
        <h1 class="main__title">Employees</h1>
        <table width="100%">
            <thead>
                <tr>
                    <td>Name</td>
                    <td>Surname</td>
                    <td>Departament type</td>
                    <td>Position</td>
                    <td>Permissions</td>
                </tr>
            </thead>
            <tbody>
                {% for employee in employees  %}
                    <tr>
                        <td>{{ employee.name }}</td>
                        <td>{{ employee.surname }}</td>
                        <td>{{ employee.type }}</td>
                        <td>{{ employee.position }}</td>
                        <td>{{ employee.permissions }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <form action="post" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" class="form-control" id="name" name="name" required>
            </div>
            <div class="form-group">
                <label for="surname">Surname</label>
                <input type="text" class="form-control" id="surname" name="surname" required>
            </div>
            <div class="form-group">
                <label for="departament">Departament</label>
                <select class="form-control" id="departament" name="departament" required>
                    {% for departament in departaments %}
                        <option value="{{ departament.id }}">{{ departament.type }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group">
                <label for="position">Surname</label>
                <select class="form-control" id="position" name="position" required>
                    {% for position in positions %}
                        <option value="{{ position.id }}">{{ position.name }}</option>
                    {% endfor %}
                </select>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

{% endblock %}
